<?xml version="1.0"?>
<global>

  <berlioz>
    <errors handle="true" generator-catch="false"/>
    <http compression="true" get-via-post="true" max-age="45"/>
    <xml parse-strict="true" header.version="1.0"/>
    <xslt cache="true"/>
  </berlioz>

  <!-- Used to test override -->
  <app location="default" cache="true"/>

</global>
